<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Grab Coffee/Lunch with Coworkers</title>
  <meta name="description" content="This app enables coworkers and new hires to find people to go to lunch with or grab a cup of joe">
  <meta name="author" content="Abraham Darwish">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <!-- Vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/css/uikit.min.css" />

  <!-- UIkit JS (defer as to not conflict with Vue) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit-icons.min.js" defer></script>
</head>
<!-- Page body-->

<body>
  <div id="app">
    <div class="uk-container uk-flex-center">
      <div class="uk-margin-large-top">
        <!-- Step 1: Area to add name or choose name -->
        <div id="step-1" class="uk-margin-right uk-margin-left">
          <h1 class="uk-animation-slide-bottom">
            <!-- Welcome message and instructions -->
            Hey <span v-if="name">{{ name }},</span> let's meet up for coffee or lunch!
          </h1>
          <h4 class="uk-text-muted uk-margin-remove-top">
            Click your name from the cards below to be matched or enter your name if you're a new hire!
          </h4>
          <!-- Input box for new hire to add name (click enter to add) -->
          <input class="uk-input uk-box-shadow-medium uk-margin-bottom" placeholder="Enter Name" v-model="name"
            @keydown.enter="addNewHire">
          <!-- Display all the coworkers names as cards in a grid -->
          <div class="uk-width-auto@m uk-margin-xlarge-bottom" uk-grid="uk-grid">
            <!-- Create card for every person in the coworkers array -->
            <div v-for="person in coworkers" class="uk-animation-toggle">
              <div class="uk-inline">
                <!-- Display name on card -->
                <div class="uk-card uk-card-default uk-card-body uk-animation-shake uk-text-bold uk-box-shadow-medium">{{
                  person.name }}</div>
                <!-- Dropdown when user clicks card-->
                <div uk-dropdown="mode: click">Hey {{ person.name }}, would you like
                  <!-- Button for coffee (passing person's id and name into method )-->
                  <a v-on:click="grabCoffee(person.id, person.name)" href="#coffee-modal" uk-toggle>coffee</a>
                  or
                  <!-- Button for lunch with group prioritization method (passing person's id and name into method )-->
                  <a v-on:click="groupFocusedLunchGroup(person.id, person.name)" href="#lunch-modal" uk-toggle>lunch</a>?
                </div>
              </div>
            </div>
          </div>
          <!-- end of coworker cards div-->
        </div>
        <!-- end of #step-1 div-->
        <!-- Hidden modals that popup depending on whether the user selects coffee or lunch -->
        <div id="step-2">
          <!-- Fullscreen coffee modal -->
          <div id="coffee-modal" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog">
              <!-- Close modal button -->
              <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
              <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                <!-- Beautiful royalty-free coffee picture in modeal -->
                <div class="uk-background-cover" style="background-image: url('nathan-dumlao-456979-unsplash.jpg');"
                  uk-height-viewport></div>
                <div class="uk-padding-large">
                  <h1>Coffee Time!</h1>
                  <!-- Coffee Message to user printed from JS (see line 120 in lunch_coffee.js)-->
                  <p id="coffeeMateMessage"></p>
                  <!-- Hide the coffee modal again and go back to main menu-->
                  <button class="uk-button uk-button-primary" v-on:click="UIkit.modal('#coffee-modal').hide();">Get
                    Lunch Instead</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end of coffee modal div-->
          <!-- Lunch modal -->
          <div id="lunch-modal" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog">
              <!-- Button to close lunch modal -->
              <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
              <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                <!-- Beautiful royalty-free image of lunch -->
                <div class="uk-background-cover" style="background-image: url('katka-pavlickova-610499-unsplash.jpg');"
                  uk-height-viewport></div>
                <div class="uk-padding-large">
                  <h1>Lunch Time!</h1>
                  <!-- Printed lunch message from lunch_coffee.js-->
                  <p id="lunchMateMessage"></p>
                  <!-- Button to close lunch modal-->
                  <button class="uk-button uk-button-secondary" v-on:click="UIkit.modal('#lunch-modal').hide();">Get
                    Coffee Instead</button>
                  <!-- Message to inform user of the # of times they've been to lunch-->
                  <p id="lunchFrequencyMessage"></p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of lunch modal div-->
        </div>
        <!-- end of #step-2 div-->
      </div>
      <!-- end of margin-top div-->
    </div>
    <!-- end of container div-->
  </div>
  <!-- end of #app div -->
  <!-- Vue.js App script -->
  <script src="lunch_coffee.js"></script>
</body>
<!-- end of body-->

</html>